.container {}
section {
    z-index: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 8em 2em;
    display: flex;
    position: relative;
    background-color: #fff;
}

.sc_visual {
    background: #000;
    height: 500vh;
    padding-top: 0;
    padding-bottom: 0;
}

.sc_visual .group_visual {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
    max-width: 1920px;
    padding-top: 5vh;
    justify-content: flex-start;
    align-items: flex-start;
}
.sc_visual .visual_area {
    display: flex;
    flex: 1;
    position: relative;
    font-size: small;
}
.sc_visual .visual_area:nth-child(1) {
    padding-left: 30vw;
}
.sc_visual .visual_area:nth-child(2) {
    padding-left: 5rem;
}
.sc_visual .visual_area:nth-child(3) {
    padding-left: 3rem;
}
.sc_visual .visual_area:nth-child(4) {
    margin-left: 10vw;
}
.sc_visual .desc {
    max-width: 685px;
    z-index: 10;
    font-size: .97em;
    line-height: 1.35em;
    transform: perspective(10em);
}
.sc_visual .gif_box {
    z-index: 0;
    width: 15em;
    height: 9.5em;
    max-height: 30vh;
    max-width: 43vh;
    transform-origin: 0 0;
    margin: 0 2.5em;
    position: relative;
}
.sc_visual .gif_box img {
    position: absolute;
    top: 0;
}
.sc_visual .gif_box.gif_1 {}
.sc_visual .gif_box.gif_2 {}
.sc_visual .gif_box.gif_3 {
    margin-top: 1.2em;
}
.sc_visual .gif_box.gif_4 {
    margin-top: 1.2em;
}
.sc_visual .arrow {
    
}
.sc_visual .video_area {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 65vw;
    height: 36vw;
    max-height: 610px;
    max-width: 1100px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 200vh;
    z-index: 99;
}
.sc_visual .video_area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
}

section.sc_about {
    padding-bottom: 5vw;
    padding: 0;
    margin-top: -10vh;
    background: #1f1f1f;
}
.sc_about .bg_radius_wrap {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: -10vw;
    bottom: auto;
    left: 0%;
    right: 0%;
    width: 100vw;
    overflow: hidden;
}
.sc_about .bg_radius {
    width: 300vw;
    height: 150vw;
    background: #1f1f1f;
    border-radius: 50%;
    margin-left: -100vw;
}
.sc_about .group_move {
    color: #000;
    background: #1f1f1f;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9;
}
.sc_about .text_area h2 {
    display: flex;
    flex-direction: column;
}
.sc_about .text_area h2 span {
    display: block;
}
.sc_about .text_area .move_text {
    display: inline-block;
    transform: translate3d(0px, 70%, -90px) scale3d(1, 1, 1) rotateX(-92deg) rotateY(0deg) rotateZ(0deg) skew(3deg, -12deg);
    transform-style: preserve-3d;
}
.sc_about .text_area h2 span:nth-child(1) {
    margin-left: 7rem;
}
.sc_about .text_area h2 span:nth-child(2) {
    margin-left: 15rem;
}
.sc_about .text_area h2 span:nth-child(3) {
    margin-left: 5rem;
}
.sc_about .dream_text > div span:nth-child(1) {
    margin-left: 7rem;
}
.sc_about .dream_text > div span:nth-child(2) {
    margin-left: 5rem;
}
.sc_about .dream_text > span {
    display: block;
}
.sc_about .dream_text > span:nth-child(2) {
    margin-left: 3rem;
}
.sc_about .dream_text > span:nth-child(3) {
    margin-left: 10rem;
}
.sc_about .text_wrap {
    padding: 5vw;
    width: 100%;
}
.sc_about .text_box {
    color: #fff;
    letter-spacing: -.027em;
    width: fit-content;
    font-size: clamp(1rem, 2.5em, 2rem);
    font-weight: 300;
    line-height: 1.25em;
    margin-left: auto;
    padding-bottom: 5rem;
}
.sc_about .text_box p {
    margin-bottom: 10px;
}
.sc_about .text_box p b {
    font-weight: 600;
}
.sc_about .circle_area {
    display: flex;
    z-index: 52;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 3em;
    margin-bottom: 2.6em;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.sc_about .circle_area .circle {
    width: 12vw;
    height: 12vw;
    transform-origin: 50%;
    cursor: pointer;
    background-color: #7c7c7c;
    border-radius: 50%;
    flex: none;
    margin-right: 1vw;
    transform: perspective(373px);
}
.sc_about .circle_area .white_circle {
    width: 18vw;
    background-color: #fff;
    border-radius: 150px;
    margin-right: 1vw;
}

.sc_work {
    padding: 0;
    background: #1f1f1f;
}
.sc_work .group_work {
    width: 100%;
}
.sc_work .work_list {
    height: 100vh;
    height: 850vh;
    width: 100%;
}
.sc_work .work_item {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}
.sc_work .work_item:hover::after {
    
}
.sc_work .work_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc_work .work_item .text_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.sc_work .work_item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sc_work .work_item .title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: .01em;
    font-size: 6em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.sc_work .work_item .num {
    z-index: 20;
    perspective: 40px;
    perspective-origin: 50% 0;
    color: #fff;
    text-align: center;
    letter-spacing: .2em;
    align-items: center;
    font-family: 'Castoro Titling', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 1em;
    display: flex;
    position: absolute;
    top: 25px;
    bottom: auto;
    left: 0%;
    right: auto;
    transform: translate(-120%, -90%);
}
.sc_work .work_item .real_num {}
.sc_work .work_item .total_num {}
.sc_work .work_item .link_box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.sc_work .work_item .link_box a {
    width: auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    color: #000;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 1rem;
    transition: .2s;
    /* font-size: 1.2vw; */
}
.sc_work .work_item .link_box a:hover {
    background: #000;
    color: #fff;
}

.sc_fix {
    display: none;
}
.sc_fix .fix_box {}



@media (max-width: 1250px) {
    .sc_visual .group_visual {
        flex-wrap: wrap;
    }
    .sc_visual .visual_area {
        font-size: inherit;
        align-items: center;
    }
    .sc_visual .visual_area:nth-child(1),
    .sc_visual .visual_area:nth-child(2),
    .sc_visual .visual_area:nth-child(3),
    .sc_visual .visual_area:nth-child(4) {
        padding-left: 0;
        margin-left: 0;
    }
    .sc_about .text_box {
        padding: 0 2rem;
        padding-bottom: 5rem;
        width: 100%;
        font-size: 1.5rem;
    }
    .sc_work .work_item .title {
        font-size: xxx-large;
        text-wrap: nowrap;
    }
    

}

@media (max-width: 800px) {
    .sc_visual .group_visual {
        padding-top: 20vh;
    }
    .sc_visual .visual_area:nth-child(1),
    .sc_visual .visual_area:nth-child(2),
    .sc_visual .visual_area:nth-child(3),
    .sc_visual .visual_area:nth-child(4)  {
        font-size: 1.4vw;
    }
    .sc_visual .gif_box {
        position: absolute;
        height: 20vw;
        width: 30vw;
    }
    .sc_visual .gif_box.gif_1 {
        top: -100%;
        left: 50%;
    }
    .sc_visual .gif_box.gif_2 {
        top: -100%;
        right: 0;
    }
    .sc_visual .gif_box.gif_3 {
        top:-50%;
    }
    .sc_visual .gif_box.gif_4 {
        top: -100%;
        right: 0;
    }
    .sc_contact .dash .about_arrow {
        display: none;
    }
}